<div class="center-div" id="words-in">

  <form>
    <h1>Mad Lib It!!</h1>
    <label>Number:</label>
    <input type="text" placeholder="Two" ng-model="data.number"/>

    <label>Color:</label>
    <input type="text" placeholder="yellow" ng-model="data.color"/>

    <label>Person:</label>
    <input type="text" placeholder="traveler" ng-model="data.person"/>

    <label>Observation Adjective:</label>
    <input type="text" placeholder="grassy" ng-model="data.observationAdjective"/>

    <label>Time Of Day:</label>
    <input type="text" placeholder="morning" ng-model="data.timeOfDay"/>

    <label>Name:</label>
    <input type="text" placeholder="shall" ng-model="data.name"/>

    <label>Noun:</label>
    <input type="text" placeholder="difference" ng-model="data.noun"/>



    <button type="button" ng-click="poem()">Mad Lib It!!.</button>
  </form>
</div>
