
<div>

  <h4>The Road Not Taken   by Robert Frost</h4>

  <p>
    <span class= "words">{{madLibs.number || "Two"}}</span> roads diverged in a

    <span class= "words">{{madLibs.color || "yellow"}}</span> wood,
  And sorry I could not travel both
    And be one <span class= "words">{{madLibs.person || "traveler"}}</span> long I stood
   And looked down one as far as I could
   To where it bent in the undergrowth;
   </br>
    Then took the other, as just as fair,
    And having perhaps the better claim,
    Because it was <span class= "words">{{madLibs.observationAdjective || "grassy"}}</span> and
    wanted wear;Though as for that the passing
    there Had worn them really about the same,

  </br>

  And both that <span class= "words">{{madLibs.timeOfDay || "morning"}}</span> equally lay
  In leaves no step had trodden black.
  Oh, I kept the first for another day!
  Yet knowing how way leads on to way,
  I doubted if I should ever come back.

  </br>

    I <span class= "words">{{madLibs.name || "shall"}}</span> be telling this with a sigh
    Somewhere ages and ages hence:
    Two roads diverged in a wood, and I—
    I took the one less traveled by,
    And that has made all the <span class= "words">{{madLibs.noun || "difference"}}</span>
  </p>
</div>
